<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" ng-include="'public/index.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Rooms:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="room in rooms">
        <li><a ng-click="getRoomMembers(room.id)">{{room.title}}</a></li>
      </ul>
    </div>
  </div>
</div>
<pre>
  {{people | json}}
</pre>

<footer class="footer">
  <div class="container">
      <p>Developed by Sumeet Wilkhu</p>
  </div>
</footer>
